[Unit]
Description=Calculate Wilt Main Script
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Desktop/20250221_EdgeModuleEx
ExecStart=/home/pi/Desktop/20250221_EdgeModuleEx/EdgeModule/bin/python3 /home/pi/Desktop/20250221_EdgeModuleEx/main.py
Restart=on-failure