[Unit]
Description=Calculate Wilt Main Script
After=network.target

[Service]
Type=simple
User=ohnuma
WorkingDirectory=/home/ohnuma/Desktop/EdgeModule
ExecStart=/home/ohnuma/Desktop/EdgeModule/EdgeWilt_env/bin/python3 /home/ohnuma/Desktop/EdgeModule/main.py
Restart=on-failure