[Unit]
Description=CPU Checker for Raspberry Pi
After=network.target

[Service]
ExecStart=/home/pi/Desktop/20250221_EdgeModuleEx/EdgeModule/bin/python3 /home/pi/Desktop/20250221_EdgeModuleEx/cpu_checker.py
WorkingDirectory=/home/pi/Desktop/20250221_EdgeModuleEx
Restart=always
RestartSec=5
User=pi
StandardOutput=append:/var/log/cpu_checker.log
StandardError=append:/var/log/cpu_checker.log

[Install]
WantedBy=multi-user.target